@mixin container($padding, $max-width) {
    max-width: $max-width;
    padding: $padding;
    width: 100%;
    margin: 0 auto;

}

@mixin mediaQuery($px) {
    @media(min-width: $px) {
        @content;
    }
}