@import 'variables';
@import 'mixins';

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

html {
    
    // scroll-behavior: smooth;
    font-size: 0.8rem;
    @include sm {
        font-size: 1rem;
    }
}

body {
    overflow-x: hidden;
    color: $light;
    background-color: $dark;
    line-height: 1.5;
    letter-spacing: 1px;
}

h1, h2, h3, h4, p {
    margin-bottom: 1.5rem;
   
}

h1 {
    font-size: 2rem;
}
    
h2 {
    font-size: 1.5rem;
}
    
h3 {
    font-size: 1.17rem;
}


a {
    text-decoration: none;
    color: $light;
    &:hover {
        transition: $transition;
        color: $primary;
    }
}

li {
    list-style: none;
}

%btn {
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    transition: $transition;
    text-transform: capitalize;
}

.btn-primary {
    @extend %btn;
    background-color: $primary;
    color: $dark;
    border: 1px solid $primary;

    &:hover {
        background-color: transparent;
        color: $primary;
    }
}


.above-title {
    text-align: center;
    color: $primary;
    margin-bottom: 0;
    text-transform: capitalize;
}
.title {
    text-align: center;
    text-transform: capitalize;
}

