* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

html {
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  html {
    font-size: 1rem;
  }
}

body {
  overflow-x: hidden;
  color: #fff;
  background-color: #181818;
  line-height: 1.5;
  letter-spacing: 1px;
}

h1, h2, h3, h4, p {
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #F3CF7A;
}

li {
  list-style: none;
}

.btn-primary {
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-transform: capitalize;
}

.btn-primary {
  background-color: #F3CF7A;
  color: #181818;
  border: 1px solid #F3CF7A;
}

.btn-primary:hover {
  background-color: transparent;
  color: #F3CF7A;
}

.above-title {
  text-align: center;
  color: #F3CF7A;
  margin-bottom: 0;
  text-transform: capitalize;
}

.title {
  text-align: center;
  text-transform: capitalize;
}

.navbar {
  background-color: rgba(24, 24, 24, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar.active {
  position: fixed;
  background: #181818;
  -webkit-animation: nav-animation 0.5s;
          animation: nav-animation 0.5s;
}

@-webkit-keyframes nav-animation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes nav-animation {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.navbar .container {
  max-width: 600px;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1200px;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.navbar .nav-links {
  display: none;
}

.navbar .nav-links li {
  margin-left: 2rem;
}

@media (min-width: 1200px) {
  .navbar .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navbar .toggle {
  cursor: pointer;
}

.navbar .toggle .bar1,
.navbar .toggle .bar2,
.navbar .toggle .bar3 {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 30px;
  height: 2px;
  margin: 7px 0;
  background-color: #fff;
}

@media (min-width: 1200px) {
  .navbar .toggle {
    display: none;
  }
}

.showcase {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 24, 24, 0.65)), to(rgba(24, 24, 24, 0.65))), url("../images/bg-image.jpg");
  background-image: linear-gradient(rgba(24, 24, 24, 0.65), rgba(24, 24, 24, 0.65)), url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.showcase .container {
  max-width: 600px;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (min-width: 1200px) {
  .showcase .container {
    max-width: 1200px;
    padding: 0 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.showcase .text {
  text-transform: uppercase;
  max-width: 1000px;
}

.showcase h1 {
  line-height: 1.3;
  font-size: 2.3rem;
}

@media (min-width: 1200px) {
  .showcase h1 {
    font-size: 4rem;
  }
}

.hamburger-menu {
  padding: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: -70%;
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #181818;
  width: 70%;
}

.hamburger-menu.active {
  right: 0;
}

@media (min-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu .hamburger-navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.hamburger-menu .hamburger-navlinks li {
  margin: 0 1rem 5rem 1rem;
}

.practice-areas .container {
  max-width: 600px;
  padding: 5rem 1rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 600px) {
  .practice-areas .container {
    max-width: 1200px;
    padding: 10rem 1rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.practice-areas .grid-container {
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 250px;
  gap: 1rem;
}

@media (min-width: 600px) {
  .practice-areas .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .practice-areas .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.practice-areas .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #151515;
  border: 1px solid #181818;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.practice-areas .grid-item:hover {
  border: 1px solid #F3CF7A;
}

.practice-areas .grid-item:hover h3 {
  color: #F3CF7A;
}

.practice-areas img {
  width: 50px;
  height: 50px;
  margin-bottom: 1.5rem;
}

.about .container {
  max-width: 1200px;
  padding: 0rem 2rem 5rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 600px) {
  .about .container {
    max-width: 1200px;
    padding: 0rem 2rem 10rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .about .container {
    gap: 3rem;
  }
}

.about .about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about .about-image {
  display: none;
}

@media (min-width: 768px) {
  .about .about-image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: block;
    background: url("../images/about-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
  }
}

.about .accordion {
  background-color: #F3CF7A;
  color: #181818;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 0.5rem;
  position: relative;
  font-size: 1rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

.about .accordion::after {
  content: '\25BC';
  color: #181818;
  font-size: 1.3rem;
}

.about .accordion-active::after {
  content: "\25B2";
}

.about .panel {
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.about .panel p {
  padding: 1rem;
}
/*# sourceMappingURL=styles.css.map */